@tailwind base;
@tailwind components;
@tailwind utilities;


/* create custom style for Tooltop recharts component */
// .recharts-tooltip-wrapper{
//   outline: none;
//   padding: 2px;
//   background-color: #fff;
//   border-radius: 10px;
//   .recharts-default-tooltip{
//     border-radius: 10px !important;
//     border: 1px solid blue !important;
//   }

// }

*{
  outline: none;
}

// Remove the spin button from number input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}